<!doctype html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <title>Estatísticas Globais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
</head>

<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/g53_logo.png') }}" alt="Logo" class="navbar-logo">
        <a href="{{ url_for('index') }}">Início</a> |
        <a href="/stats">Estatísticas</a> |
        <a href="javascript:history.back()" class="btn-voltar">← Voltar</a>
    </div>
    <div class="container">
        <h1>Estatísticas Globais</h1>

        <div class="kpi-grid">
            <div class="card">
                <h4>Total de Transações</h4>
                <p>{{ total_trades }}</p>
            </div>
            <div class="card">
                <h4>Volume Total</h4>
                <p>{{ total_aum | moeda }}</p>
            </div>
            <div class="card">
                <h4>Corporações</h4>
                <p>{{ num_corps }}</p>
            </div>
            <div class="card">
                <h4>Corretores</h4>
                <p>{{ num_brokers }}</p>
            </div>
            <div class="card">
                <h4>Clientes</h4>
                <p>{{ num_clients }}</p>
            </div>
        </div>

        <div class="charts">
            <div class="chart-box">{{ graph_corp | safe }}</div>
            <div class="chart-box">{{ graph_broker | safe }}</div>
        </div>
    </div>
</body>

</html>